<h1>Hey there <%= @user.name %>!</h1>

<p>
  <%= @greeting %>: a super cool platform where you can offer you can share your talents with the community and benefit other people's cool talents!
</p>
<h2>Learn something new <%= link_to "today", root_url %></h2>