<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 50%), url(<%= image_path "background.jpg" %>);">
  <div class="banner-content text-inline">
    <h1>LEARN ANY SKILL AT ANY TIME</h1>
    <p>The easiest way to learn anything during your free time</p>
    <div class="form-inline"><%= render 'shared/search_form' %></div>
  </div>
</div>


