<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.01) 0%, rgba(0,36,61,0.01) 50%), url(<%= image_path "paper.png" %>);">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-5">
        <div class="banner-content text-inline">
          <h1>Skillshare</h1>
          <p>The easiest way to learn anything during your free time</p>
          <div class="form-inline"><%= render 'shared/search_form' %></div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= content_for(:after_js) do %>
      <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=<%=ENV['GOOGLE_API_BROWSER_KEY'] %>"></script>
<% end %>
