// Your footer style

#footer{
  background: RGB(171, 83, 35);
  color:$brand-color;
  padding: 20px 0;
  display: flex;
  a{
    color:$brand-color;
    font-size: 150%;
    margin-right:15px;
    -webkit-transition: all 0.2s ease;
    &:hover{
      color: $blue;
    }
  }
  p {
    font-size: 75%;
  }
}
