// Your footer style

#footer{
  background: RGB(171, 83, 35);
  color:$brand-color;
  padding: 20px 0;
  display: flex;
  height: 50px;
  margin-bottom: -70px;
  line-height: 0.8;
  align-items: center;
  a{
    color:$brand-color;
    font-size: 150%;
    margin-right:15px;
    -webkit-transition: all 0.2s ease;
    &:hover{
      color: $blue;
    }
  }
  p {
    font-size: 50%;
  }
}
