<div class="container">
  <div id="offer-form">
    <div class="row text-center">
      <div class="col-md-10 col-md-offset-1">
        <h1> Offer a skill </h1>
      </div>
      <%= render 'offers/offer_form' %>
    </div>
  </div>
</div>
