.banner {
  color: white;
  text-align: center;
  height: calc(100vh - 70px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  // position: relative;
}
.banner h1 {
  font-size: 60px;
  font-weight: normal;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color: $yellow;
  font-family: 'Pacifico', cursive;
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: $yellow;
  margin-bottom: 20px;
  font-family: 'Pacifico', cursive;
}

.banner-content {
  padding: 10px 22px 10px 18px;
}