body {
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  background: #EAEAEA;
}

#sidebar-form {
  width:250px;
}

#sidebar-form .select {
  height: 25px;
  padding: 2px;
  font-size: 13px;
}

#sidebar-form .btn {
  height: 25px;
  padding: 2px;
  font-size: 13px;
}

#sidebar-form form {
  margin-top: 50px;
}

#offer-form {
  position: relative;
  background: #F9F9F9;
  margin-top: 75px;
  margin-bottom: 75px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#offer-form h1 {
  margin-bottom: 30px;
  margin-top: 30px;
}

#offer-form .form-group {
  padding: 0 20px;
}

#offer-form .form-group .radio-buttons {
  padding-left: 15px;
}

#offer-form label {
  padding-right: 20px;
}

#offer-form .input {
  width: 100%;
}

.form-container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}


#form-background {
  background: #F9F9F9;
  padding: 25px;
  margin: 75px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form-button {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

.form-button:hover {
  background: #43A047;
  color: #FFF;
}

.booking-span{
  padding: 10px 5px;
  text-align: center;
}

.booking-span-red{
  background-color: $brand-color;
  color: white;
}

.booking-span-white{
  background-color: white;
}

