.card {
  height: 175px;
  // text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  // color: white;
  position: relative;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-stars {
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 20px;

}
.card-description {
  position: absolute;
  top: -20px;
  left: 150px;
}
.card-description h2 {
  // font-size: 26px;
  // font-family: Raleway;
  // color: #777777;

}
.card-description p {
  // font-size: 14px;
  // font-family: Raleway;
  // color: #EAEAEA;

  }
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}
